<a href="https://colab.research.google.com/github/NeilMondano/OOP-58002/blob/main/Operations_%26_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [3]:
print(10>9)
print(10<9)
print(10==9)

True
False
False

In [7]:
a = 10
b = 9
print(a>b)
print(a<b)
print(a==b)
print(b==b)

True
False
False
True

Bool() function

In [12]:
print(bool(1))
print(bool("Neil"))
print(bool(0))
print(bool(None))
print(bool([]))

True
True
False
False
False

Functions can Return a Boolean

In [18]:
def myFunction():
  return True

print(myFunction())

True

In [24]:
def myFunction():
  return False

if myFunction():
  print("Yes")

else:
  print("No")

No

In [29]:
a = 6
b = 7

print(a==b)
print(a!=a)

False
False

Python Operators

In [42]:
print(10 + 5)
print(10 - 5)
print(10 * 5)
print(10 / 5)
print(10 // 5)
print(10 % 5)
print(10 ** 5)

15
5
50
2.0
2
0
100000

Python Bitwise Operators

In [45]:
a = 60
b = 13 

a<<1
a>>1

30

Pyhton Assignment Operators

In [87]:
x = 1
x += 3
print(x)

x = 1
x -= 3
print(x)

x = 1
x *= 3
print(x)

x = 1
x /= 3
print(x)

x = 1
x %= 3
print(x)

4
-2
3
0.3333333333333333
1

Logical Operators

In [99]:
x = True
y = False

In [95]:
print(x and y)
print(x or y)
print(not (x or y))

True
True
False

Identity Operators

In [100]:
print(x is y)
print(x is not y)

False
True

Application 1 Create an Arithmetic Calculator (MDAS)

In [104]:
s = int(input())

1